<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
    <div class="row nav-wrapper">
      <div class="col s1"> <a href="/welcome" class="btn-floating btn-large pulse" style="color:white">Softic</a></div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="pacientes">Inicio</a></li>
        <li><a href="#">Conectate</a></li>
        <li><a href="pacientes/new" class="waves-effect waves-light btn">Registro</a></li>
      </ul>
    </div>
  </nav>
<br>
<br>
<br>
<div class="row login">
    <div class="col s4 14 offset-14">
        <div>
            <div class="card-action">
                <h3 align=center>Puedes conectarte facilmente</h3>
            </div>
            <div class="card-content">
                <div class="form-field">
                    <p>
                    <label align=center >Cédula</label>
                    <input type="number" name="paciente[cedula]" value=>
                    </p>
                    <p>
                    <label align=center >Contraseña</label>
                    <input type="password" name="paciente[contrasena]" value=>
                    </p><br>
                    <div class="center-align">
                    <input type="submit" value="Iniciar" class="waves-effect waves-light btn-large">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6">
        <img width="600" height="300" src="https://www.xlsemanal.com/wp-content/uploads/sites/3/2017/10/medico-conocer-salud.jpg">
    </div>
    <div class="col s4">
        <img width="440" height="200" src="https://englishlive.ef.com/es-mx/blog/wp-content/uploads/sites/8/2018/09/Vocabulario-en-ingl%C3%A9s-que-todo-m%C3%A9dico-debe-conocer.jpg">
    </div>
    <div class="col s4">
        <img width="400" height="200" src="https://cdn.ticbeat.com/src/uploads/2017/01/medico-hospital-mejor-trabajo-810x540.jpg">
    </div>
</div>
</div>