<h1 class="center-align">Editing Citum</h1>
<div class="row">
  <div class="col s4"></div>
  <div class="col s4 14 offset-14">
<%= render 'form', citum: @citum %>

<%= link_to 'Show', @citum %> |
<%= link_to 'Back', cita_path %>
</div>
</div>
