<h1 class="center-align">Nueva Cita</h1>
<div class="row">
  <div class="col s4"></div>
  <div class="col s4 14 offset-14">
<%= render 'form', citum: @citum %>
<br>
<%= link_to 'Back', cita_path, class: "waves-effect waves-light btn" %>
</div>
</div>
