<div class="container">
<h1 class="center-align">Ingreso de Personal IPS ACME</h1>
<div class="row">
  <div class="col s4"></div>
  <div class="col s3 14 offset-14">
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>
        <a href="/medics/sign_in" class="waves-effect waves-light btn">Medicos</a>
    </li>
    <br>
    <li>
        <a href="/secretaries/sign_in" class="waves-effect waves-light btn">Secretarias</a>
    </li>
    <br>
    <li>
        <a href="/bosses/sign_in" class="waves-effect waves-light btn">Gerente</a>
    </li>
    <br>
</ul>
</div>
</div>
</div>