<div class="container">
<h1 class="center-align">Ingreso de Personal IPS ACME</h1>
<div class="row">
  <div class="col s4"></div>
  <div class="col s3 14 offset-14">

<table class="striped">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to 'Médico', new_medic_session_path, class: "waves-effect waves-light btn" %></td>
        <td><%= link_to 'Secretaria', new_secretary_session_path, class: "waves-effect waves-light btn" %></td>
        <td><%= link_to 'Gerente', new_boss_session_path, class: "waves-effect waves-light btn" %></td>
      </tr>
  </tbody>
</table>



</div>
</div>
</div>