<div class="container">
<h1>Ingreso de Personal IPS ACME</h1>
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>
        <a href="/medics/sign_in" class="waves-effect waves-light btn">Medicos</a>
    </li>
    <br>
    <li>
        <a href="/secretaries/sign_in" class="waves-effect waves-light btn">Secretarias</a>
    </li>
    <br>
    <li>
        <a href="/bosses/sign_in" class="waves-effect waves-light btn">Gerente</a>
    </li>
    <br>
</ul>
</div>